{# External Apps definition #}
{% if "facebook_app_id" in config %}
  <meta porperty="fb:app_id" content="{{ config.facebook_app_id }}">
{% endif %}
{% if "itunes_app" in misc_data %}
  <meta name="apple-itunes-app" content="{{ misc_data.itunes_app }}">
{% endif %}

{# Here define all configuration that are used when the website is thrated as app in someway #}
{% if "apple_touch_startup_image_media_queries" in icons_config %}
  {% set icon = icons_config.apple_touch_startup_image_media_queries %}
  {% set icon_name = icon.output_file_name %}
  {% set ext = icon.ext %}
  {% for size in icon.sizes_max_min %}
    {% set width = size[0] %}
    {% set height = size[1] %}
    {% set pixel_ratio = size[2] %}
    {% set width_and_height = width|string + "x" + height|string %}
    {% set file_name = icon_name + "-" + width_and_height + ext %}
    {% set dw = (width, height)|min // pixel_ratio %}
    {% set dh = (width, height)|max // pixel_ratio %}
    {% if width > height %}
      {% set orientation = "landscape" %}
    {% else %}
      {% set orientation = "portarit" %}
    {% endif %}
    {% set media_query = [
      "(device-width: " + dw|string + "px)",
      "(device-height: " + dh|string + "px)",
      "(-webkit-device-pixel-ratio: " + pixel_ratio|string + ")",
      "(orientation: " + orientation + ")",
    ]|join(" and ") %}
    <link href="{{ static_url }}/{{ file_name }}"
          media="{{ media_query }}"
          rel="apple-touch-startup-image">
  {% endfor %}
{% endif %}

<link rel="manifest" href="{{ static_url }}/manifest.json">
{% if "title" in config %}
  <meta name="application-name" content="{{ config.title }}">
{% endif %}

<meta name="msapplication-config" content="{{ static_url }}/browserconfig.xml">

{% if "title" in config %}
  <meta name="apple-mobile-web-app-title" content="{{ config.title }}">
{% endif %}
{% if "mask_icon" in icons_config %}
  {% set icon = icons_config.mask_icon %}
  {% set icon_name = icon.output_file_name %}
  {% set ext = ".svg" %}
  {% for size in icon.size_square %}
    {% set width = size|string %}
    {% set height = size|string %}
    {% set width_and_height = width + "x" + height %}
    {% set file_name = icon_name + "-" + width_and_height + ext %}
    <link href="{{ static_url }}/{{ file_name }}"
          rel="mask-icon"
          color="{{ config.main_color }}">
  {% endfor %}
{% endif %}
{% if "title" in config %}
  <link rel="search"
        type="application/opensearchdescription+xml"
        title="{{ config.title }}"
        href="{{ static_url }}/opensearch.xml">
{% endif %}
