{#
  Here define SEO tags, that dont require to be loaded as fast as can
  It's include the description and subject metatags, and JSON-LD
  microdata.
#}
{% if "description" in config %}
  <meta name="description" content="{{ config.description }}">
{% endif %}
{% if "subject" in config %}
  <meta name="subject" content="{{ config.subject }}">
{% endif %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Organization",
    {% if "domain" in config %}
      "@id": "https://{{ config.domain }}",
      "url": "https://{{ config.domain }}",
    {% endif %}
    {% if "description" in config %}
      "slogan": "{{ config.description }}",
      "description": "{{ config.description }}",
    {% endif %}
    {% if "preview_image" in misc_data %}
      {% set file_name = misc_data.preview_image %}
      {% set image_path = static_url + "/" + file_name %}
      "logo": "{{ image_path }}",
      "image": "{{ image_path }}"
    {% endif %}
  }
</script>
