[run]
branch = True
source = ./
omit =
    setup.py
    test/*
    build/*
    dist/*
    __init__.py
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
[html]
directory = coverage_html_report