[run]
branch = True
source = ./
omit =
    cushead.py.egg-info/*
    dist/*
    test/*
    __init__.py
    __main__.py
    setup.py
    version.py
    
[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

[html]
directory = coverage_html_report