<?xml version="1.0" encoding="utf-8"?>
<browserconfig>
  <msapplication>
    <tile>
      {%+ if "favicon_png" in config -%}
      <square30x30logo src="/static/browserconfig-30x30.png"/>
      <square44x44logo src="/static/browserconfig-44x44.png"/>
      <square70x70logo src="/static/browserconfig-70x70.png"/>
      <square150x150logo src="/static/browserconfig-150x150.png"/>
      <square310x310logo src="/static/browserconfig-310x310.png"/>
      <wide310x150logo src="/static/browserconfig-310x150.png"/>
      <TileImage src="/static/browserconfig-144x144.png"/>
      {%- endif %}
      {%+ if "main_color" in config -%}
      <TileColor>{{ config.main_color }}</TileColor>
      {%- endif %}
    </tile>
  </msapplication>
</browserconfig>
