<!doctype html>
<html lang="None-None" class="no-js" dir="None">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="ie=edge"><![endif]-->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':newDate().getTime(),event:'gtm.js'});varf=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','None');</script>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>None</title>
    <meta name="theme-color" content="None">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    
    
    
    <meta property="og:locale" content="None_None">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://None">
    <meta property="og:site_name" content="None">
    <meta property="og:title" content="None">
    <meta property="og:description" content="None">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@None">
    <meta name="twitter:site:id" content="None">
    <meta name="twitter:title" content="None">
    <meta name="twitter:description" content="None">
    
    <meta name="twitter:creator" content="@None">
    <meta property="twitter:creator:id" content="None">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">
    </noscript>
    <!-- Import here your styles -->
    <!-- Import here your early load javascripts -->
    <meta porperty="fb:app_id" content="None">
    <meta name="apple-itunes-app" content="app-id=None, affiliate-data=None, app-argument=/">
    
    <link rel="manifest" href="/static/manifest.json">
    <meta name="application-name" content="None">
    
    <meta name="apple-mobile-web-app-title" content="None">
    
    <link rel="search" type="application/opensearchdescription+xml" title="None" href="/static/opensearch.xml">
    <meta name="description" content="None">
    <meta name="subject" content="None">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "@id": "https://None",
        "url": "https://None",
        "slogan": "None",
        "description": "None"
        
      }
    </script>
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="origin-when-crossorigin">
    <meta name="google-site-verification" content=""> <!-- FILL THIS -->
    <meta name="baidu-site-verification" content=""> <!-- FILL THIS -->
    <meta name="author" content="/humans.txt">
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=None" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <h1>Hello World</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!-- Import here your late load javascripts -->
    <script>
      if ("serviceWorker" in navigator && !navigator.serviceWorker.controller) {
        navigator.serviceWorker.register("/static/sw.js", { scope: "/" });
      }
    </script>
  </body>
</html>