{#

def implicit_binder(f, *, namespace):
  return functools.partial(
    f,
    **{p.name: namespace[p.name]
       for p in inspect.signature(f).parameters.values()
       if p.kind == inspect.Parameter.KEYWORD_ONLY})

def create_instance(*, arg1, arg2, arg3, arg4, arg5, arg6):
  return implicit_binder(A, namespace=locals())()

#}
<!doctype html>
<html class="no-js" {# class "no-js" is used by Modernizr.js #}
      {% if "text_dir" in config %}dir="{{ config.text_dir }}"{% endif %}
      {% if "hyp_lt" in misc_data %}lang="{{ misc_data.hyp_lt }}"{% endif %}
      >
  <head>
    {% include "complements/initial_haders.html" %}
    {% include "complements/browser_icons.html" %}
    {% include "complements/opengraph.html" %}
    {% include "complements/twitter_cards.html" %}
    {% include "complements/early_assets.html" %}
    {% include "complements/apps.html" %}
    {% include "complements/site_content_description.html" %}
    {% include "complements/others.html" %}
  </head>
  <body>
    {% include "complements/body_config.html" %}
    <h1>Hello World</h1>
    {% include "complements/late_assets.html" %}
  </body>
</html>
