{
  {% if "title" in config %}
    "name": "{{ config.title }}",
    "short_name": "{{ config.title }}",
  {% endif %}
  {% if "description" in config %}
    "description": "{{ config.description }}",
  {% endif %}
  {% if "text_dir" in config %}
    "dir": "{{ config.text_dir }}",
  {% endif %}
  {% if "background_color" in config %}
    "background_color": "{{ config.background_color }}",
    "theme_color": "{{ config.background_color }}",
  {% endif %}
  "start_url": "/",
  "orientation": "landscape",
  "scope": "/",
  "display": "standalone",
  "platform": "web",
  "prefer_related_applications": false,
  "icons": [
    {% if "manifest" in icons_config %}
      {% set icon = icons_config.manifest %}
      {% set icon_name = icon.output_file_name %}
      {% set ext = icon.ext %}
      {% for size in icon.sizes_square %}
        {
          {% set width = size[0] %}
          {% set height = size[1] %}
          {% set width_and_height = width|string + "x" + height|string %}
          {% set file_name = icon_name + "-" + width_and_height + ext %}
          "src": "{{ static_url }}/{{ file_name }}",
          "sizes": "{{ width_and_height }}",
          "type": "image/png",
          "purpose": "any maskable"
        }{{ "," if not loop.last }}
      {% endfor %}
    {% endif %}
  ]
}
