<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="ie=edge"><![endif]-->
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap">
    </noscript>
    <!-- Import here your styles -->
    <!-- Import here your early load javascripts -->
    <link rel="manifest" href="/manifest.json">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Organization"
      }
    </script>
    <meta name="robots" content="index, follow">
    <meta name="referrer" content="origin-when-crossorigin">
    <meta name="google-site-verification" content=""> <!-- FILL THIS -->
    <meta name="baidu-site-verification" content=""> <!-- FILL THIS -->
  </head>
  <body>
    <h1>Hello World!</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <!-- Import here your late load javascripts -->
    <script>
      if ("serviceWorker" in navigator && !navigator.serviceWorker.controller) {
        navigator.serviceWorker.register("/sw.js", { scope: "/" });
      }
    </script>
  </body>
</html>
